.Player {
    padding: 0.75rem;
    min-width: 220px;
    transition: background-color 0.4s ease, border-color 0.4s ease;
}

/* Evita movimientos al alternar entre is-dark y normal */
.Player.is-dark {
    transition: background-color 0.3s ease-in-out;
}
